body {
font-family: "Roboto", sans-serif;
color:#434455;
background-color: white;
line-height: 1.5;
letter-spacing: 0.02em;
font-size: 16px;
font-style: normal;
}
a {
    text-decoration: none;
}
ul{list-style-type: none;}

.style-logo{
    color: #4D5AE5;
    font-size: 18px ;
}
.logo{
    font-size: 18px;
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight:700;
    text-transform: uppercase;
}
.logo-end{
    font-size: 18px;
        color: #F4F4FD;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        font-weight: 700;
        text-transform: uppercase;
}
.studio{
    background-color:#f4f4fd;
}
.navigation .nav-color{
color: #2E2F42;
font-weight:500;
line-height: 1.5;
font-size: 1rem;
letter-spacing: 0.02em;


}
.navigation .nav-color:hover,
.navigation .nav-color:focus
{ 
color: #404BBF;
}
address .nav-color{
color:#434455;
font-style: normal;

}
address .nav-color:hover,
address .nav-color:focus
{
color:#404BBF;
}
 .cap{ 
    background-color: #2E2F42;
}  
/* Family: Roboto Weight: Medium Size: 16px Line Height: 24px Letter Spacing: 4% */
.button {
    background-color: #4D5AE5;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    
}
button:hover,
button:focus {
    background-color:#404BBF;
    
}
.studio{
    background-color:#f4f4fd;
    text-align:center;
}
.team-members{
background-color: #FFFFFF;

}

footer{
    background-color: #2E2F42;
}
.and-text{
color:#F4F4FD;
line-height: 1.5;
font-weight: 400;
letter-spacing: 0.02em;

}
h1{
    color:white;
    font-size: 56px; 
    text-align: center;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2{
font-weight: bold;    
font-size: 2.25rem;
letter-spacing: 0.02em;
color:#2E2F42;
line-height: 1.11;

}
h3{
        font-size: 20px;
        letter-spacing: 0.02em;
        font-weight: 500;
        color:#2E2F42;
        line-height: 1.2;
}
h1,h2{
    text-align: center;
}

